body{
    font: 1em/normal Arial;
    background: #eee;
}
.input-header{
    background: rgb(255, 255, 255);
    padding: 20px 0;
    margin: 20px 0;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.15);
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
}
.form-inline{
    margin: 20px auto;
    width: 30%;
}
.form-control{
    margin-right: 10px;
}
ul.green li.list-group-item{
    background: #c0ffbc;
}
ul.yellow li.list-group-item{
    background: #fdffb7;
}
li.list-group-item input[type='checkbox']{
    margin: 0 8px 0 0;
}
.completed{
    text-decoration: line-through;
}